<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'signup.css' %}" />
    <title>Sign up </title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin">
            <form action="#" class="sign-up-form" id="signUpForm">
                <h2 class="title">Sign up</h2>
                <div class="input-field">
                  <i class="fas fa-user"></i>
                  <input type="text" placeholder="Username" />
                </div>
                <div class="input-field">
                  <i class="fas fa-envelope"></i>
                  <input type="email" placeholder="Email" />
                </div>
                <div class="input-field">
                  <i class="fas fa-lock"></i>
                  <input type="password" placeholder="Password" />
                </div>
                <input type="submit" class="btn" value="Sign up" />
                <a href="///C:/Users/sony/Desktop/New%20folder%20(3)/login.html" id="alreadyHaveAccount" class="styled-link">Already have an account? Login</a>
    </html>