<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'login.css' %}" />
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin">
          <form action="#" class="sign-in-form" id="signInForm">
            <h2 class="title">Login </h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" />
            </div>
            <input type="submit" value="Login" class="btn solid" />            
          </form>
        <a href="#" id="forgotPassword">Forgot Password</a>
        <a href="///C:/Users/sony/Desktop/New%20folder%20(3)/signup.html" id="newAccountLink" class="styled-link">Don't have an account? Sign up</a>
 </html>