<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>Edit Product</title>
</head>
<body>
    <section class="content-add">
        <main>
            <div class="head-title-add">
                <div class="left-add">
                    <ul class="breadcrumb-add">
                        <li>
                            <a href="index2.html">Location</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a href="#">Edit Loaction</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="form-container">
                <form id="editForm" action="" method="">
                    <!-- Replace update_data.php with the actual server-side script to handle the update -->

                    <label for="productId">Location ID:</label>
                    <input type="text" id="productId" name="productId" readonly>

                    <label for="productName">Name:</label>
                    <input type="text" id="productName" name="productName">

                    <label for="productDescription">Adress:</label>
                    <textarea id="productDescription" name="productDescription"></textarea>

         
                    <!-- Add other fields as needed -->

                    <button type="submit">Edit Location</button>
                </form>
            </div>
        </main>
    </section>

    <script src="{% static 'script.js' %}"></script>
</body>
</html>
